fastapi
uvicorn

langchain
langchain-community
langchain-openai
langchain-chroma
langgraph
langgraph-prebuilt
langsmith

chromadb
faiss-cpu
sentence-transformers
transformers
torch

openai
tiktoken
python-dotenv
pydantic
requests

# Redis & Celery
redis
celery[redis]
